.hero {
  padding: 0 0 1.5rem 0;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  color: $primary-color;
  // height: 100vh;

  &__polygon_bottom {
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 60px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 0rem 0px 0rem 16px;
    align-self: center;
    grid-column: 1/3;
  }

  &__title {
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
  }

  &__lead {
    margin-top: 6px;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }

  &__featured_image {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    grid-column: 3/6;
  }

  &__btn_container {
    margin-top: 2rem;
  }
}

.news {
  &__show_more_container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}

// Responsive

@media (min-width: 48rem) {
  .news-card {
    padding: 0;
    margin: 0;
    &__featured_image {
      position: relative;
    }
  }
}

// Large screen
@media (min-width: 56rem) {
  .news-card {
    padding: 0;
    margin: 0;
    &__featured_image {
      position: relative;
    }

    // &__info {
    //   padding: 3.5rem 18px 1rem 18px;
    // }
  }
}
