.video {
  background-image: url("../images/video_background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2ae2a3;
  position: relative;
  overflow: hidden;

  &__content {
    padding: 10px 50px 50px 60px;
    display: grid;
    max-width: 720px;
    margin: 0 auto;
    position: relative;
    &__polygon_bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -5%;
      margin-right: -10%;
      width: 140px;
      max-width: 100%;
    }
  }

  &__featured_img {
    grid-column: 1;
    grid-row: 1;
    display: block;
    max-width: 100%;
  }

  &__icon {
    justify-self: center;
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    width: 72px;
    height: 72px;
    background-color: $primary-color;
    border-radius: 100%;
    border: 2px solid #2ae2a3;
    cursor: pointer;
    color: white;
    z-index: 100;
    position: relative;

    box-icon {
      position: relative;
      margin-left: 14px;
      display: inline-block;
    }
  }
}

// Responsive

@media (min-width: 48rem) {
  .news-card {
    padding: 0;
    margin: 0;
    &__featured_image {
      position: relative;
    }
  }
}

// Large screen
@media (min-width: 56rem) {
  .news-card {
    padding: 0;
    margin: 0;
    &__featured_image {
      position: relative;
    }
  }
}
