.container {
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; // shorthand

  &--products {
    grid-template-columns: repeat(1, 1fr);
  }

  &--hero {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  background: blue;
  color: #fff;
  font-size: 12px;
  padding: 20px;
  border: 1px solid yellow;
}

// Tablet.
@media (min-width: 576px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    &--products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// Tablet Horizontal screen
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    &--products {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// Large screen
@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
    grid-template-columns: repeat(3, 1fr);

    &--full-width {
      grid-template-columns: repeat(1, 1fr);
    }

    &--hero {
      grid-template-columns: repeat(5, 1fr);
      // gap: 0;
      // grid-template-rows: repeat(3, 1fr);
    }

    &--video {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
    }

    &--products {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
